* {
    margin:0;
    resize: none;
}

body{
    font-family: 'Roboto', sans-serif;
    position: relative;
    
}

.navbar{
    width: 100%;
    height: 50px;
    background-color:black;
    position: sticky;
    top: 0;
    z-index: 9999999;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: 'Sen', sans-serif;


}

.logo-container{
    flex: 1;

}
.logo{
    font-family: 'Sen', sans-serif;
    font-size: 40px;
    color: #4dbf00;


}

.menu-container{
    flex: 6;

}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item{
    margin-right: 30px;
}

.menu-list-item.active{
    font-weight: bold;
    font-size: 19px;

}


.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 20px;

}
.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 60%;
    object-fit: cover;
}

.toggle{
    width: 41px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: relative;
   

    
}

.toggle-icon{
    color: goldenrod;

}

.toggle-ball{
    width: 19px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s ease;
    
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 62px;
    align-items: center;

}

.left-menu-icon{
    color: white;
    font-size: 22px;
    margin-bottom: 45px;

}

.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
   
}

.content-container{
    margin-left: 30px;
    
}

.featured-content{
    height: 50vh;
    padding: 50px;
    
    
}

.featured-title{
    width: 200px;
}

.featured-desc{
    width: 500px;
    color: lightgrey;
    margin: 20px 0px;
}

.featured-button{
    background-color: #4dbf00;
    color: white;
    padding: 10px 20px;
    border-radius: 13px;
    border: none;
    outline: none;
    font-weight: bold;
    bottom: 10px;

}

.movie-list-container{
    padding: 0 20px;
    
}


.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    

    
}


.movie-list-item{
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
    
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}


.movie-list-item-img{
    width: 270px;
    height: 200px;
    transition: all 1s ease-in-out;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    transition: all 1s ease-in-out;
    color: white;
   
    opacity: 0;

}

.movie-list-item-desc{
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    top: 30%;
    left: 30px;
    position: absolute;
    width: 220px;
    opacity: 0;
    transition: all 1s ease-in-out;
    color: whitesmoke;


}

.movie-list-item-button{
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 18px;
    left: 20px;
    /* top: 150px;
    right:200px; */
    opacity: 0;
    transition: all 1s ease-in-out;

}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    cursor: pointer;
}

.container.active{
    background-color: white;
}

.movie-list-container.active{
    color: black;
}

.navbar-container.active{
    background-color: white;
    color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 500px){
    /* .navbar{
        width: 100%;
    } */
    
    .menu-container{
        display: none;
    }
    .logo{
        width: 100px;
        font-size: 30px;

       
    }
    
    .profile-picture{
        padding: -50px;
    }
    .toggle{
        
        margin-right: -20px; 
    }
    .sidebar{
        width: 50px;     
        padding-top: 62px;
        
    
    }
    
    .left-menu-icon{
        color: white;
        font-size: 18px;
        margin-bottom: 35px;
    
    }
    /* .content-container{
        margin-left: 33px;
        
    }
    .featured-content{
        height: 40vh;
        padding: 30px;
        
        
    } */
    .featured-desc{
        width: 300px;
       
    }  
   
    .movie-list{   
        height: 230px;
       
    }
    
    .movie-list-title{
        font-size: 30px;
    }
    .movie-list-item-title{
        font-size: 25px;
    }  
    .movie-list-item-desc{   
        font-size: 10px;
        width: 180px;    
    }
    .arrow{
        top: 55px;
       
    }

}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
}
    

    